{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for post in posts%}

        <div id="title">
            <p>hi </p>
        </div>
        {{ post.title }}
        <br>

        <div id="content">
            <p>content = {{post.content}}</p>
        </div>
        
        <div id="status">
            <p>status={{post.status}}</p>
        </div>

    <div style="background-color: aqua ;"> 
        {{ post.published_date }}
    </div>
    {% endfor %}



</body>
</html>